<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_IEmployeeService" messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51363/ArtistService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ArtistServiceClient.IArtistService" name="BasicHttpBinding_IArtistService" />
      <endpoint address="http://localhost:51363/EmployeeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeService"
        contract="EmployeeServiceClient.IEmployeeService" name="BasicHttpBinding_IEmployeeService" />
    </client>
  </system.serviceModel>
</configuration>